.sync/
adblock_4_25_1_0.crx
03_nature/
*.recipe
nohup.out
*.sh
03_nature/
*.bk
*.py
*.txt
bk/
*.swn
*.swo
*.swp
images/
@eaDir/
*.gz
*.shell
*.crdownload
*.pyc
core.*
guardian_shells/
*.log
tmp
*.jar
ny_audios.json
./*.epub
./*/*/*.mobi
